#column {
  display: inline-block;
  flex-direction: column;
}

.wrapper {
  width: 350px;
  height: 700px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 12px;
  border: 1px solid #747474;
  background-color: #ebecf0;
}
.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.box-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  height: 43px;
  border: 1px solid #747474;
  box-sizing: border-box;
  border-radius: 10px;
  .column-name {
    margin: 0%;
    font-size: 20px;
    text-indent: 0;
  }
}
button {
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  background-color: #ebecf0;
  cursor: pointer;
}
.description {
  display: flex;
  padding: 0 20px;
  margin: 0;
}
.test {
  display: flex;
  align-content: flex-end;
}
