<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>title</th>
        <th>description</th>
        <th>position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span>{{ _id }}</span>
        </td>
        <td>
          <span>{{ title }}</span>
        </td>
        <td>
          <span>{{ description }}</span>
        </td>
        <td>
          <span>{{ position }}</span>
        </td>
        <td>
          <button (click)="deleteById(_id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-card></app-card>
<app-add-card></app-add-card>
