<div id="column">
  <div class="wrapper">
    <div class="card">
      <div class="header-card">
        <div class="box-column">
          <h2 class="column-name">{{ title }}</h2>
        </div>
      </div>
      <h3 class="description">{{ description }}</h3>
      <div class="test">
        <button type="delete">Supprimer</button>
      </div>
    </div>
  </div>
</div>

<!-- <ul>
  <li>{{ Column._id }}<br />{{ Column.title }}<br />{{ Column.position }}</li>
</ul> -->
<app-card></app-card>
<app-add-card></app-add-card>
