<!-- <form [formGroup]="columnForm" (ngSubmit)="submit()">
  <p>Titre</p>
  <input type="text" formControlName="titreColumn" />
  <p>Description</p>
  <input type="text" formControlName="descriptionColumn" />
  <p>Postion</p>
  <input type="number" formControlName="positionColumn" />
  <button type="submit">CREER</button>
</form> -->

<div class="container">
  <div class="wrapper">
    <div class="card" *ngFor="let c of col">
      <header class="card-header">
        <p
          class="card-header-title is-centered is-size-5 has-text-weight-normal"
        >
          {{ c.title }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{ c.description }}
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Save</a>
        <a class="card-footer-item">Edit</a>
        <a class="card-footer-item" (click)="deleteColumn(c._id)">Delete</a>
      </footer>
    </div>
  </div>

  <!-- <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>title</th>
        <th>description</th>
        <th>position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of col">
        <td>
          <span>{{ c._id }}</span>
        </td>
        <td>
          <span>{{ c.title }}</span>
        </td>
        <td>
          <span>{{ c.description }}</span>
        </td>
        <td>
          <span>{{ c.position }}</span>
        </td>
        <td>
          <button (click)="deleteColumn(c._id)">delete</button>

        </td>
      </tr>
    </tbody>
  </table> -->
</div>
<div class="column is-one-fifth">
  <form [formGroup]="columnForm" (ngSubmit)="submit()">
    <div class="field">
      <label class="label has-text-weight-normal">Column Name</label>
      <div class="control">
        <input class="input" type="text" formControlName="titreColumn" />
      </div>
    </div>
    <div class="field">
      <label class="label has-text-weight-normal">Column description</label>
      <div class="control">
        <input class="input" type="text" formControlName="descriptionColumn" />
      </div>
    </div>
    <div class="field">
      <label class="label has-text-weight-normal">Column position</label>
      <div class="control">
        <input class="input" type="text" formControlName="positionColumn" />
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Create</button>
      </div>
    </div>
  </form>
</div>
