<div class="test">
<p>Creation of columns</p>
</div>
<div class="test">

  <form [formGroup]="columnForm" (ngSubmit)="submit()">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" formControlName="titreColumn" placeholder="Title of column">
      </div>
      <div class="control">
        <input class="input" type="text" formControlName="descriptionColumn" placeholder="Description">
      </div>
      <div class="control">
        <input class="input" type="text" formControlName="positionColumn" placeholder="Position">
      </div>
      <div class="control">
        <button type="submit" class="button button is-success is-light">
          Create
        </button>
      </div>
    </div>
  </form>
</div>
